{% extends 'core/base.html' %}
{% block content %}

{% if request.user.is_authenticated %}
    <p>Hello {{request.user|title}}</p>
    <a href="{% url 'logout' %}">Logout</a>
{% else %}
    <a href="{% url 'login' %}">Login</a>
{% endif %}
<hr>
<h1>To Do List</h1>
<a href="{% url 'task-create' %}">Add Task</a>
<br>
<form action="" method="get">
    <input type="text" name="filterBy" value="{{filter_value}}">
    <input type="submit" value="Search">
</form>
<div class="task-items-wrapper">
    {% for task in tasks %}
        <div class="task-wrapper">
            {% if task.complete %}
            <div class="task-title">
                <div class="task-complete-icon"></div>
                <i><s><a href="{% url 'task-update' task.id %}">{{task}}</a></s></i>
            </div>
        {% else %}
        <div class="task-title">
            <div class="task-incomplete-icon"></div>
            <a href="{% url 'task-update' task.id %}">{{task}}</a>
        </div>

        {% endif %}

        <a class="delete-link" href="{% url 'task-delete' task.id %}">&#215;</a>

</div>
    {% empty %}
        <p>No tasks yet!</p>
    {% endfor %}

{% endblock %}
